@charset "utf-8";

/* リセットcss */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #26130e;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-feature-settings: "palt";
}

:root {
    --accent-color: #8e53a7;
}

/* リセットcssでbody内の背景色を指定 */
body {
    background-color: #f3f5fa;
    overflow-x: hidden;
    /* height: 200vh; */
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

.pc_nav a:hover {
    color: var(--accent-color);
    /* opacity: 0.5; */
}

.header_wrap a:hover {
    color: var(--accent-color);
}

.footer a:hover {
    color: #26130e;
    /* opacity: 0.5; */
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* リセットcssここまで */

/* viewボタンのカーソルマークを消す */
.no-cursor,
.no-cursor a {
    cursor: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* margin: 0; */
    background-color: #e6dccc;
    /* text-align: center; */
    /* flex-direction: column; */
    z-index: 9999;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.loading_logo {
    width: 40%;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.loading_text {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.loading_text h1 {
    font-family: "scotch-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    /* margin-top: 5px; */
}

#countup {
    font-size: 10px;
    animation: change_color 2s linear infinite;
    /* margin-top: 10px; */
}

/* .change_color {
    animation: change_color 2s linear infinite;
} */
@keyframes change_color {
    0% {
        color: #a7536c;
    }
    25% {
        color: #418266;
    }
    50% {
        color: #5373a7;
    }
    75% {
        color: #8e53a7;
    }
    100% {
        color: #8e53a7;
    }
}

.loading.is-active {
    opacity: 1;
    visibility: visible;
}

/* .loading_logo{

}

.loading_text {

} */

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 38px 13% 0 13%;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.pagetop-logo {
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    transform: scaleX(0.94);
    line-height: 0.7;
}

.pc_nav ul {
    display: flex;
    justify-content: right;
}

.pc_nav ul li {
    margin-left: 38px;
    transition: 0.3s;
}

.pc_nav a {
    font-family: "scotch-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.footer {
    background-color: var(--accent-color);
}

.wave {
    position: relative;
    height: 200px; /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
    margin-top: 459px;
}

canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.footer ul li {
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-right: solid 1px #ffffff;
    padding: 0 18px;
    margin-top: 194px;
    margin-bottom: 83px;
    transition: 0.3s;
}

.footer ul li:last-child {
    border-right: none;
}

.copyright {
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 11px;
    padding-bottom: 24px;
    text-align: center;
}

.footer h2 {
    color: #ffffff;
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 7vw;
    transform: scaleX(0.97);
    white-space: nowrap; /*テキストを折り返さないように設定*/
    overflow-wrap: normal; /*テキストがボックスの境界を超える場合は折り返さないように設定*/
    line-height: 0.7;
}

/* .mailicon_hover-pc_only {
    position: fixed;
    bottom: 100px;
    right: 23px;
    width: 106px;
    height: 106px;
} */

/* .mailicon_pc_only {
    position: fixed;
    bottom: 100px;
    right: 23px;
    width: 106px;
    height: 106px;
} */

.mailicon_hover-pc_only {
    position: fixed;
    bottom: 260px;
    right: 23px;
    width: 106px;
    height: 106px;
}

.mailicon_circle_pc {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: rotate-anime 20s linear infinite;
}
@keyframes rotate-anime {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mailicon_pc {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 26px;
}

.mailicon_hover-pc_only {
    position: fixed;
    bottom: 260px;
    right: 23px;
    width: 106px;
    height: 106px;
}

.mailicon_circle_change_pc {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: rotate-anime 20s linear infinite;
    opacity: 0;
    transition: 0.3s;
}

.mailicon_change_pc {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 31px;
    opacity: 0;
    transition: 0.3s;
}

.mailicon_hover-pc_only:hover .mailicon_circle_change_pc {
    opacity: 1;
}

.mailicon_hover-pc_only:hover .mailicon_change_pc {
    opacity: 1;
}
/* .mailicon_hover-pc_only:hover .mailicon_change_pc {
    opacity: 1;
} */
.mailicon_hover-pc_only:hover .mailicon_circle_pc {
    opacity: 0;
}

.mailicon_hover-pc_only:hover .mailicon_pc {
    opacity: 0;
}

/* svgの塗りつぶし */
.cls-1,
.cls-2 {
    fill: var(--accent-color);
}

/* contactページ */

.contact_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_text h1 {
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11.7vw;
    white-space: nowrap; /*テキストを折り返さないように設定*/
    overflow-wrap: normal; /*テキストがボックスの境界を超える場合は折り返さないように設定*/
    padding-top: 148px;
}

.contact_text p {
    font-size: 21px;
    line-height: 1.8;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 170px;
}

.contact_list {
    display: grid;
    /* place-content: center; */
    max-width: 850px;
    margin: 0 auto;
    padding: 0 7% 0 7%;
    box-sizing: border-box;
}

.contact_name_field,
.contact_furigana_field,
.contact_email_field,
.contact_title_field,
.contact_msg_field {
    /* padding: 0 4% 0 4%; */
    display: inline-block;
}

.contact_list p {
    font-size: 20px;
    display: inline-block;
}

.contact_name_field input,
.contact_furigana_field input,
.contact_email_field input,
.contact_title_field input,
.contact_msg_field textarea {
    background-color: #e6e6e6;
    border-radius: 20px;
    /* width: 850px; */
    width: 100%;
    /* height: 50px; */
    border: none;
    margin: 10px 0 57px 0;
    padding: 25px;
    font-size: 30px;
    box-sizing: border-box;
}

.contact_msg_field textarea {
    height: 450px;
}

.contact_msg_field {
    display: grid;
    place-content: center;
    display: inline-block;
}

.submit_button button {
    background-color: var(--accent-color);
    border-radius: 20px;
    width: 219px;
    height: 99px;
    font-family: "scotch-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #ffffff;
    border: none;
}

/* ハンバーガーメニュー */
.sp_btn,
.sp_nav {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガーメニュー */
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn::before {
        content: ""; /* 必須プロパティ */
        background-image: url(../images/hamburger_logo.svg);
        /* 泉：
           読み込めていなかった原因は以下です。
           ・パス記述の頭に../が無い（親階層指定が必要）
           ・ファイル名スペルミス
           ・スラッシュ（/）がバックスラッシュ（\）になっている
           ・セミコロン抜け
           cssでのbackground-imageは読み込みが地味にエラーしがちですが、慣れです！ナイストライです！
        */
        background-size: cover; /* 画像を親要素に合わせる */
        background-position: center; /* 画像を中央に配置 */
        background-repeat: no-repeat; /* 泉：こちら追加ください */

        /* 要素を上下中央に配置する4点セット */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 75px; /* 泉：数値はデザインデータに合わせてください */
        height: 75px; /* 泉：数値はデザインデータに合わせてください */
        z-index: -1; /* テキストや他の要素の上に配置するために必要な場合があります */
    }
    .sp_btn span {
        top: 10px;
        position: relative;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #26130e;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #26130e;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー閉じる */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(230, 220, 204, 1);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #26130e;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}
